#wrapper{
  font-family: courier;
  font-size: 18px
  width: 500px;
  margin: 50px auto 0;
}
.questions{
  font-size: 16px;
  background: none;
  color:green;
  font-size: 14px;
  font-family: monospace;
  text-align: center;
  }
#button{
  text-align: center;
}
.buttons{
  height:100px;
  width:200px;
  text-align: center;
}
#buttons{
  text-align: center;
}
